{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block jumborton %}{% endblock %}
{% block nav %}
{% endblock %}
{% block contentLeft %}
{% endblock %}

{% block contentCentre %}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
 <div class="row">
	
 			
	<div class="input-group col-sm-3 col-md-6">
<h1 class="text-center">Inscrivez-vous</h1>
 	</div>

 	
    <div class="form-group">
				<div class="input-group col-sm-8">
					<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
					{{ form_widget(form.username, {'attr': {'class': 'form-control ','placeholder': form.username.vars.label} }) }}
				</div>
	</div>
    <div class="form-group">
				<div class="input-group col-sm-8">
					<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
					{{ form_widget(form.prenom, {'attr': {'class': 'form-control ','placeholder': form.prenom.vars.label} }) }}
				</div>
	</div>
	<div class="form-group">
				<div class="input-group col-sm-8">
					<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
					{{ form_widget(form.telephone, {'attr': {'class': 'form-control ','placeholder': form.telephone.vars.label} }) }}
				</div>
	</div>
	<div class="form-group">
				<div class="input-group col-sm-8">
					<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
					{{ form_widget(form.adresse, {'attr': {'class': 'form-control ','placeholder': form.adresse.vars.label} }) }}
				</div>
			
	</div>
	<div class="form-group">
				<div class="input-group col-sm-8">
					<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
					{{ form_widget(form.email, {'attr': {'class': 'form-control ','placeholder': form.email.vars.label} }) }}
				</div>
	</div>
	<div class="form-group">
				<div class="input-group col-sm-8">
					<span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
					{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control ','placeholder': form.plainPassword.first.vars.label} }) }}
				</div>
	</div>
	<div class="form-group">
				<div class="input-group col-sm-8">
					<span class="input-group-addon"><i class="fa fa-lock fa" aria-hidden="true"></i></span>
					{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control ','placeholder': form.plainPassword.second.vars.label} }) }}
				</div>
	</div>
	
	<div>
        <input class="btn btn-success col-sm-8" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
</div>
    
{{ form_end(form) }}
{% endblock %}
{% block contentRigth %}
{% endblock %}
{% block footer %} {% endblock %}